.checkout-list-item{
display: grid;
grid-template-columns: repeat(4,1fr);
}
.checkout-item-product-image{
  width: 100px;
  height: 100px;
  background: lightcoral;
  margin-right: 2em;


  }
  .checkout-item-product{
    display: flex;
    align-items: center;
    
  }