.checkoutList
{
  display: grid;
  background: rgb(232, 241, 101);
  overflow-y: scroll;
  row-gap: 1em;

}   
.checkout-list-item-extend{
  justify-items: center;
  /* justify-content: center; */
  margin-bottom: 3em;
  border-bottom: 2px solid #000;
  padding: 2em 0;
}