.navbar{
width: 100vw;
height:  var(--navbar-height); /*i.e is 70px */
background-color: brown;
display: grid;
grid-template-columns:1fr repeat(3,min-content);
padding: 0px 80px;
box-sizing: border-box;
align-content: center;
column-gap: 25px;
font-size: 62.5%;
position: fixed;
top: 0;
left: 0%;
z-index: 1;
}