*{
margin: 0px;
padding: 0px;
border: 5px;
box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
:root{
    --font-family-header :  'Roboto', sans-serif;
    --font-family-para :  'Open Sans', sans-serif;
    --navbar-height : 70px
}
.pagesContainer{
    padding-top: var(--navbar-height);
}

button{
    font-size: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}